html,body {
  width: 100%;
  height: 100%;
}
body {
  padding: 1%;
}
header, main, footer {
     padding-left: 300px;

   }

   @media only screen and (max-width : 992px) {
     header, main, footer {
       padding-left: 0;
     }
   }
#slide-out li h1 {
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}
#slide-out li {
  font-weight: 200;
}
main {
  height: 100%;
  width: 100%;
  margin: 0;

}
#options {
  text-align: center;
}
#options i {
  margin-left: 5px;
  margin-right: 5px;
}
#loader {
  position: fixed;
  top: 0;
  margin: 2;
  width: 100%;
}
#welcome {
  text-align: center;
}
#welcome h2 {
  font-size: 250%;
  font-weight: 300;
  margin-bottom: 20%;
}
#welcome h3 {
  font-weight: bold;
}
.active {
  color: blue;
}
#chatwindow {
  position: relative;
  height: 100%;
  width: 100%;
}
#newmessagediv {
  bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
